# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.roguelikeGame.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\yaiba\Documents\program\Unity\roguelikeGame\.idea\.idea.roguelikeGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
